<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mutidb.dao.master.UserMasterDao">

    <select id="list" resultType="UserMaster">
        select * from t_user t
    </select>

    <select id="count" resultType="int">
       select count(1) from t_user t
   </select>

</mapper>